/* Packages */
@import 'npm:normalize.css';

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: #ff000055;
  display: flex;

}


main {
  background-color: #00ff0055;

  flex-grow: 1;
}

footer {
  background-color: #0000ff55;
}

nav {
  display: flex;
  height: 100px;
}

nav > a {
  flex-grow: 1;

  display: flex;
  justify-content: center;
  align-items: center;
}
